@use '../../../../scss/config/mixins' as *;

.card {
	&:hover {
		border-color: hsl(var(--color-primary));
		@include shadow-md;
	}

	a {
		@include flex-col;
		@include flex-1;
		text-decoration: none;
		@include text-primary;
	}

	header {
		@include panel-header;
	}

	main {
		@include px(0.75rem);
		@include py(0.5rem);
		@include flex-col;
		@include gap(0.5rem);
		@include flex-1;

		h3 {
			@include text-sm;
			@include font-semibold;
			@include text-primary;
			margin: 0;
		}
	}
}
