@use '../../../../theme/config/mixins' as *;

.nav {
	@include nav;
	@include nav-links-border-grow;
}

.nav .nav-label {
	@include truncate;
}

@container sidebar (max-width: 80px) {
	.nav {
		a {
			@include justify-center;
			@include px(0.5rem);
		}

		.nav-label,
		.nav-section {
			@include hidden;
		}
	}
}

.app-sidebar header {
	.logo {
		border-radius: var(--radius-sm, 4px);
	}

	.logo-dark {
		display: none;
	}

	.logo-light {
		display: inline-block;
	}
}

:root[data-mode="dark"] .app-sidebar header,
html[data-mode="dark"] .app-sidebar header {
	.logo-dark {
		display: inline-block;
	}

	.logo-light {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	:root:not([data-mode="light"]) .app-sidebar header {
		.logo-dark {
			display: inline-block;
		}

		.logo-light {
			display: none;
		}
	}
}

