@use '../../../scss/config/mixins' as *;

#home {
	.home-actions {
		@include flex;
		@include items-center;
		gap: var(--size-sm);
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.home-facts {
		margin-block: var(--size-md);

		dd { @include font-semibold; }
	}
}
