@use '../../../../../scss/config/mixins' as *;

.icon-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(8.75rem, 1fr));
	gap: var(--gap);
}

.icon-cell {
	@include flex;
	flex-direction: column;
	@include items-center;
	gap: var(--size-sm);
	padding: var(--size-md);
	@include border;
	@include rounded-md;
	@include text-xs;
	color: var(--fg-muted);
	text-align: center;

	&:hover { background-color: var(--bg-sunken); }
}
