@use '../../../../../scss/config/mixins' as *;

.demo-progress-item {
	@include stack(var(--size-md));
	list-style: none;
	padding: 0;
	margin: 0;

	h4 {
		@include text-sm;
		color: var(--fg-muted);
		@include font-normal;
		margin: 0;
		@include mb(var(--size-sm));
	}
}
