@use '../../../../../scss/config/mixins' as *;

.demo-toggle-sidebar {
	@include flex;
	@include gap(var(--size-md));
	min-height: 12rem;
	@include border;
	@include rounded-md;
	overflow: hidden;

	aside {
		@include relative;
		@include p(var(--size-md));
		@include bg-secondary;
		width: 12rem;
		@include border-r;
		@include transition;

		&:not(.open) {
			margin-left: -12rem;
		}

		h4 {
			margin: 0;
			@include mb(var(--size-sm));
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		button[data-ln-toggle-action="close"] {
			--padding-y: var(--size-2xs);
			--padding-x: var(--size-2xs);
			@include absolute;
			top: var(--size-xs);
			right: var(--size-xs);
		}
	}

	> article {
		@include p(var(--size-md));
		@include flex;
		flex-direction: column;
		@include gap(var(--size-sm));
	}
}

.demo-toggle-collapsible {
	@include border;
	@include rounded-md;

	> header {
		@include flex;
		@include justify-between;
		@include items-center;
		@include p(var(--size-md));
		@include border-b;
	}

	.collapsible-body {
		@include p(var(--size-md));
		@include stack(var(--size-sm));
	}
}
