@use '../config/mixins' as *;

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: var(--color-bg-sunken);
}

::-webkit-scrollbar-thumb {
	background-color: hsl(var(--color-border));
	border-radius: 4px;
	border: 2px solid transparent;
	background-clip: content-box;

	&:hover {
		background-color: var(--color-fg-subtle);
	}
}

::-webkit-scrollbar-corner {
	background: transparent;
}

* {
	scrollbar-width: thin;
	scrollbar-color: hsl(var(--color-border)) var(--color-bg-sunken);
}
