@use 'spacing' as *;
@use 'display' as *;

@mixin empty-state {
	@include flex-col;
	@include items-center;
	@include justify-center;
	gap: var(--size-md);
	padding: var(--size-xl) var(--size-xl);
	text-align: center;
	max-width: 28rem;
	margin-inline: auto;

	h3 {
		margin: 0;
	}

	p {
		margin: 0;
	}

	button,
	a {
		margin-top: var(--size-sm);
	}
}
