@use 'spacing' as *;
@use 'typography' as *;
@use 'colors' as *;
@use 'borders' as *;

@mixin kbd {
	--color-bg: var(--bg-sunken);
	display: inline-block;
	--padding-y: var(--size-2xs);
	--padding-x: var(--size-xs-up);
	padding: var(--padding-y) var(--padding-x);
	@include typography(caption);
	font-family: var(--font-mono);
	color: var(--color-fg);
	background: var(--color-bg);
	border: var(--border-width) solid var(--color-border);
	border-bottom-width: 2px;
	@include rounded-sm;
	line-height: 1;
	white-space: nowrap;
}
