@use 'spacing' as *;
@use 'borders' as *;
@use 'motion' as *;
@use 'card' as *;

@mixin popover {
	@include floating-panel;
	display: none;
	position: fixed;
	min-width: 14rem;
	max-width: 24rem;
	padding: var(--padding-y) var(--padding-x);

	&[data-ln-popover="open"] {
		display: block;

		@include motion-safe {
			animation: ln-popover-fade var(--transition-fast);
		}
	}

	&:focus {
		outline: none;
	}
}
