@use '../config/mixins' as *;

[data-ln-circular-progress] {
	@include circular-progress;
}

[data-ln-circular-progress].sm {
	@include circular-progress-sm;
}

[data-ln-circular-progress].lg {
	@include circular-progress-lg;
}

[data-ln-circular-progress].xl {
	@include circular-progress-xl;
}

[data-ln-circular-progress].success .ln-circular-progress__fill {
	stroke: hsl(var(--color-success));
}

[data-ln-circular-progress].error .ln-circular-progress__fill {
	stroke: hsl(var(--color-error));
}

[data-ln-circular-progress].warning .ln-circular-progress__fill {
	stroke: hsl(var(--color-warning));
}
