@use '../config/mixins' as *;

[data-ln-empty-state] {
	@include empty-state;

	svg.ln-icon,
	svg.ln-icon--xl {
		--color-fg: var(--fg-subtle);
		color: var(--color-fg);
	}

	h3 {
		@include typography(heading-sm);
		color: var(--color-fg);
	}

	p {
		@include typography(body-md);
		--color-fg: var(--fg-muted);
		color: var(--color-fg);
	}
}
